h1{
    position: absolute; left: 500px;
    color: skyblue;
    font-size: 35px;
    padding: 10px;
    border-color: navy;
    position: absolute;left: 500px; top: 100px;
}

body{
    background-color: rgb(154, 154, 238);
}

h2{
    color: white;
    font-size: 18px;
    position: absolute; left: 500px; top: 250;
    
}

h3{
color: white ;
}
  
img{
    position: absolute; left: 500; top:250;
}
