h1{
    color: red;
    font-size: 18px;
}

body{
    background-color: gray;

}

h5{
    color: #DFFF00;
    font-size: 24;
}

hr{
    color: blue;
    height: 10px;
    width: 50;
}

#test1{
    position: absolute; top:100px; left:400px;
    background-color: palegreen;
    padding:50px;
    border-style:groove;
    border-color: blueviolet;
   
}